.Backers{
    width: 45.5rem;
    @apply  pr-11 bg-white pt-12 pb-11 mt-6 flex-col items-center rounded-lg shadow-md;

    .Back__stats{
        @apply w-full pl-0 flex flex-row;

        .stats__item{
            border-right: 1px solid lightgray;
            @apply w-2/6 pl-12;
            h1{
                @apply text-3xl tracking-wide font-bold;
            }
            p{
                color : hsl(0, 0%, 48%);
                @apply mt-2;
            }
            &:last-child{
                border-right: none;
            }
        }
    }
    .Back__range{
        @apply pl-12 w-full relative;
        .progres{
            @apply h-3 mt-8 w-full;
        }
        .progres::-webkit-progress-bar{
            @apply bg-gray-100 rounded-full shadow;
        }
        .progres::-webkit-progress-value{
            background-color: hsl(176, 50%, 47%);
            @apply rounded-full;
        }
        .progress_value{
            @apply w-auto px-5 py-1 bg-gray-100 absolute top-0 left-0 shadow-lg rounded-full top-12 left-12;
            p{
                @apply text-black text-sm;
            }
            &::before{
                content: '';
                @apply absolute -top-3 left-2 absolute;
                border-left: .5rem solid transparent;
                border-right: .5rem solid transparent;
                border-bottom: 1rem solid #fafafa;
            }
        }
    }
}