@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');


$Moderatecyan: hsl(176, 50%, 47%);
$Darkcyan: #147b74;
$Black: hsl(0, 0%, 0%);
$Darkgray: hsl(0, 0%, 48%);


*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
    box-sizing: border-box;
}
html{
    display: flex;
    justify-content: center;
}

body{
    margin: 0; padding: 0;
    position: relative;
    top: 0; left: 0;
    max-width: 1920px;
    width: 100%;
    font-size: 16px;
    overflow-x: hidden;
    background-color: #fafafa;
}
.root{
    width: 100%;
    position: relative;
    top: 0;left: 0;
}

.Design{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    opacity: .7;
    display: none;
}